/*css reset*/
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*style*/
.container {
  display: flex;
  margin: auto;
  max-width: 1300px;
  width: 80%;
}

.page-container {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.top-bar {
  background-color: #f6ece7;
  padding: 15px 0;
  font-size: 13px;
  font-weight: 500;
  color: #696969;
}

.top-bar .container {
  justify-content: space-between;
}

.top-bar .container .top-bar-menu {
  display: flex;
}

.top-bar .container .top-bar-menu div:not(:last-child) {
  border-right: 1px solid #ccbdb0;
}

.top-bar .container .top-bar-menu div:last-child {
  padding-right: 0px;
}

.top-bar .container .top-bar-menu div {
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-container {
  padding: 20px 0;
}

.menu-container .container {
  justify-content: space-between;
}

.menu-container .container .logo-menu {
  display: flex;
  gap: 50px;
}

.menu-container .container .main-menu,
.menu-container .container a {
  color: #848485;
  text-transform: uppercase;
  display: flex;
  gap: 50px;
  text-decoration: none;
}

.menu-container .container .icons-menu {
  color: #5e5e5e;
  font-size: 23px;
  display: flex;
  gap: 30px;
}

footer {
  background-color: #f8f8f8;
}

footer .footer-container {
  padding: 100px 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer-container .footer-text {
  width: 70%;
  flex-basis: 30%;
}

footer .footer-container .footer-text p {
  color: #696969;
  margin-top: 10px;
  font-size: 14px;
  line-height: 2em;
}

footer .footer-container .footer-links-section {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

footer .footer-container .footer-links-section .footer-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer .footer-container .footer-links-section .footer-links a {
  text-decoration: none;
  color: #696969;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

footer .footer-container .footer-links-section .footer-links a i {
  font-size: 16px;
  align-items: center;
}

.copyright {
  display: flex;
  padding: 20px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #e9e8e8;
}

@media (max-width: 1150px) {
  .main-menu {
    display: none !important;
  }
  .icons-menu {
    display: none !important;
  }
}

@media (max-width: 940px) {
  .top-bar-menu {
    display: none !important;
  }
  .footer-text {
    flex-basis: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */