.header-container {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
}

.header-container .title {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.blog-posts {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: 75%;
  justify-content: space-between;
}

.blog-posts .single-post {
  flex-basis: 30%;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-posts .single-post .post-miniature img {
  width: 100%;
}

.blog-posts .single-post .post-title {
  font-size: 18px;
}

.blog-posts .single-post .post-title a {
  text-decoration: none;
  color: black;
}

.blog-posts .single-post .date {
  color: #787878;
  font-size: 14px;
  font-weight: 600;
}

.blog-posts .single-post .excerpt p {
  font-size: 13px;
  line-height: 25px;
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
}

.blog-sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-basis: 20%;
}

.blog-sidebar .sidebar-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.blog-sidebar .categories div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-sidebar .categories a {
  text-decoration: none;
  font-size: 14px;
  color: #a3a4a3;
  font-weight: 500;
}

.blog-sidebar .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-bottom: 1px solid #b6b6b6;
  font-size: 18px;
  padding-bottom: 8px;
}

.blog-sidebar .search input {
  border: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.blog-sidebar .popular .popular-container {
  display: flex;
  flex-direction: column;
}

.blog-sidebar .popular .popular-container .popular-post {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.blog-sidebar .popular .popular-container .popular-post img {
  width: 100px;
  height: 90px;
  object-fit: cover;
}

.blog-sidebar .popular .popular-container .popular-post p {
  font-weight: 500;
  line-height: 1.3em;
}

.blog-sidebar .popular .popular-container .popular-post:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

@media (max-width: 1350px) {
  .blog-posts {
    flex-basis: 72% !important;
  }
}

@media (max-width: 1280px) {
  .blog-posts {
    flex-basis: 70% !important;
  }
  .blog-posts .single-post {
    flex-basis: 45% !important;
  }
}

@media (max-width: 1120px) {
  .blog-posts {
    flex-basis: 100% !important;
  }
  .blog-posts .single-post {
    flex-basis: 45% !important;
  }
}

@media (max-width: 500px) {
  .blog-posts .single-post {
    flex-basis: 100% !important;
  }
}

@media (max-width: 350px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header-container .title {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
}
/*# sourceMappingURL=blog_style.css.map */